<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'dashboard' %}"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                
                <li class="menu-title">My Store</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'supplier-list' %}"
                        aria-haspopup="true" aria-expanded="false"> <i
                            class="menu-icon fa fa-paper-plane"></i>Supplier</a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'yard-list' %}"
                        aria-haspopup="true" aria-expanded="false"> <i
                            class="menu-icon fa fa-paper-plane"></i>Yards</a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'material-mix-list' %}"
                        aria-haspopup="true" aria-expanded="false"> <i
                            class="menu-icon fa fa-paper-plane"></i>Material Mixture</a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'material-list' %}"
                        aria-haspopup="true" aria-expanded="false"> <i
                            class="menu-icon fa fa-paper-plane"></i>Mixture Material</a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'cost-list' %}"
                        aria-haspopup="true" aria-expanded="false"> <i
                            class="menu-icon fa fa-paper-plane"></i>Overhead Cost</a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>