{% extends 'base/base.html' %}

{% block title %}Material Mixture{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Mixture Material</a></li>
                            <li class="active">Create</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Mixture Details</strong>
            </div>
            
            <div class="card-body">    
                              
                <form class="form-group row" action="#" method="post" novalidate="novalidate" id="">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="yard" class="col-sm-2 col-form-label">YARD</label>
                        <div class="col-sm-3">
                            {{ form.yard }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cha" class="col-sm-2 col-form-label">CHA</label>
                        <div class="col-sm-3">
                            {{ form.cha }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="oil" class="col-sm-2 col-form-label">OIL</label>
                        <div class="col-sm-3">
                            {{ form.oil }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="yard" class="col-sm-2 col-form-label">VP</label>
                        <div class="col-sm-3">
                            {{ form.vp }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="oh" class="col-sm-2 col-form-label">OH</label>
                        <div class="col-sm-3">
                            {{ form.oh }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dep" class="col-sm-2 col-form-label">DEP</label>
                        <div class="col-sm-3">
                            {{ form.dep }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="trans" class="col-sm-2 col-form-label">TRANS</label>
                        <div class="col-sm-3">
                            {{ form.trans }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="flux" class="col-sm-2 col-form-label">FLUX</label>
                        <div class="col-sm-3">
                            {{ form.flux }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cusi" class="col-sm-2 col-form-label">CUSI</label>
                        <div class="col-sm-3">
                            {{ form.cusi }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="extrasi" class="col-sm-2 col-form-label">EXTRA SI</label>
                        <div class="col-sm-3">
                            {{ form.extrasi }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gst" class="col-sm-2 col-form-label">GST</label>
                        <div class="col-sm-3">
                            {{ form.gst }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="extracost" class="col-sm-2 col-form-label">EXTRA COST</label>
                        <div class="col-sm-3">
                            {{ form.extracost }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="total" class="col-sm-2 col-form-label">TOTAL</label>
                        <div class="col-sm-3">
                            {{ form.total }}
                        </div>
                    </div>
                    <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                        <span id="payment-button-amount">Create Material Mixture</span>
                    </button>

                </form>
            </div>

        </div> <!-- .card -->

    </div>
    <!--/.col-->
</div>
{% endblock content %}