{% extends 'base/base.html' %}

{% block title %}Yard List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Yard</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Yard List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">Yard</th>
                                <th>ALU</th>
                                <th>ZN</th>
                                <th>ALUC</th>
                                <th>SS</th>
                                <th>PB</th>
                                <th>PVC</th>
                                <th>FIBRE</th>
                                <th>OTHERS 1</th>
                                <th>OTHERS 2</th>
                                <th>NM</th>
                                <th>TOTAL</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for material in material %}
                            <tr>
                                <td><a href="{% url 'update_items' material.id %}">{{ material.yard}}</a></td>
                                <td>{{ material.alu }}</td>
                                <td>{{ material.zn }}</td>
                                <td>{{ material.aluc }}</td>
                                <td>{{ material.ss }}</td>
                                <td>{{ material.pb }}</td>
                                <td>{{ material.pvc }}</td>
                                <td>{{ material.fibre }}</td>
                                <td>{{ material.others1 }}</td>
                                <td>{{ material.others2 }}</td>
                                <td>{{ material.nm }}</td>
                                <td>{{ material.total }}</td>
                                <td><a href="{% url 'delete_items' material.id %}">
                                    <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">Delete</button></a>
                                </td>
                                
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div> <!-- /.col-lg-8 -->


</div>
{% endblock content %}