{% extends 'base/base.html' %}

{% block title %}Yard List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Yard</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Yard List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">Yard</th>
                                <th>CHA</th>
                                <th>OIL</th>
                                <th>VP</th>
                                <th>OH</th>
                                <th>DEP</th>
                                <th>TRANS</th>
                                <th>FLUX</th>
                                <th>CUSI</th>
                                <th>EXTRASI</th>
                                <th>GST</th>
                                <th>EXTRA COST</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for material in material %}
                            <tr>
                                <td>{{ material.yard}}</a></td>
                                <td>{{ material.cha }}</td>
                                <td>{{ material.oil }}</td>
                                <td>{{ material.vp }}</td>
                                <td>{{ material.oh }}</td>
                                <td>{{ material.dep }}</td>
                                <td>{{ material.trans }}</td>
                                <td>{{ material.flux }}</td>
                                <td>{{ material.cusi }}</td>
                                <td>{{ material.extrasi }}</td>
                                <td>{{ material.gst }}</td>
                                <td>{{ material.extracost }}</td>
                                <td>{{ material.total}}</td>
                                <!-- <td><a href="{% url 'delete_items' material.id %}">
                                    <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">Delete</button></a>
                                </td> -->


                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div> <!-- /.col-lg-8 -->


</div>
{% endblock content %}